/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;

  margin-left: -20px;
  margin-right: -20px;
}

h1 {
  font-style: italic;
  color: #373fff;
}

hr {
  width: 40%;
  border-top: 1px solid #1a535c;
  margin-top:-32px; 
}
#signup {
  padding-top: 60px;
  padding-left: 100px;
  padding-bottom: 32px;
}
.btn-outline-warning {
  min-width: 250px;
  min-height: 90px;

  margin: auto;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
}
.btn-outline-primary {
  font-family: "Oswald", sans-serif;
  color: green;
}

#Hero_Section {
  padding-left: 0;
}
#Heading {
  font-family: "DM Sans", sans-serif;
  padding-left: 45px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
}

#intro {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  padding-left: 45px;
  color: #1a535c;
  padding-top: -20px;
}

.jumbotron-fluid {
  background-color: #f7fff7;
}
#logo {
  margin-top: 16px;
  margin-left: 40px;
  margin-bottom: 16px;
}
.btn-primary {
  margin: 0 24px 0 0;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none !important;
  border: 1px solid #039be5;
  border-radius: 8px;
  font-family: "DM Sans", sans-serif;
  display: inline-block;
  letter-spacing: 0.15px;
  max-width: 255px;
  padding: 20px 60px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
.btn-white:hover {
  background-color: #1c538f;
  color: white;
}
#hero {
  float: right;
  padding-right: 40px;
  padding-left: 40px;
}
